<h2>Add User</h2>

<form [formGroup]='userFormGroup' (ngSubmit)='addUser()'  novalidate >
 <input class= "form-control" type="text" formControlName='name' placeholder="Enter Name"   /><br>
 <input class= "form-control" type="text" formControlName='email' placeholder="Enter Email"   />
 <br>

 <button class= 'btn btn-info'>Add User</button></form>

 <br><br>
 <table [border]="1" [cellSpacing]="2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
     <tbody>

   <tr *ngFor="let u of users">
     <td>
       {{u.id}}
     </td>
     <td>
       {{u.name}}
     </td>
     <td>
       {{u.email}}
     </td>

   </tr>
</tbody>

 </table>
