<input class= "form-control" type="number" [(ngModel)]='idtodelete' placeholder="Enter Id to delete User" />
<hr>
<button class= 'btn btn-info' (click)='deleteUser()'>Delete User </button>

<br><br>

<table [border]="1" [cellSpacing]="2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
     <tbody>

  <tr *ngFor="let u of users">
    <td>
      {{u.id}}
    </td>
    <td>
      {{u.name}}
    </td>
    <td>
      {{u.email}}
    </td>

  </tr>
  </tbody>
</table>

<br><br>

